*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.logo{
    margin-top: 18px;
    margin-bottom: 16px;
}

nav{

    width: 100%;
    max-height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

nav .menu{
   
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
       
}


nav .menu a{
    
    color: #000000;
    text-decoration: none;    
    
}

.btn1{
    background-color: #30b868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 12.5px 15px;
    border-radius: 4px;
}

nav .menu a:hover{
    color:#30b868
}

.btn1:hover {
    background-color: #259954; 
}

#banner{
    max-width: 100%;
    height: 674px;
    text-align: center;
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content h1{
    margin-bottom: 16px;
    color: #ffffff;
    font-size: 72px;
    text-align: center;
}

.banner-content p{
    height: 40px;
    line-height: 24px;
    color: #ffffff;
    font-size: 18px;
}

#h1-green{
    color: #30b868;
}

#access{
    width: 229px;
    height: 35px;
    background-color: white;
    color: #30b868;
    display: inline-block;
    font-size: 16px;
    border-radius: 1000px;
    padding: 8px 12px 8px 12px;
    margin-bottom:16px;
    margin-top: 120.5px;
}


#btn2{
    padding: 12.5px 16px;
    border-radius: 5px;
    background-color:#259954;
    color: #ffffff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#btn2:hover {
    background-color: #0b823b; 
}

#btn3{
    padding: 12.5px 16px;
    margin-left: 16px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;  
}

#btn3:hover {
    background-color: #1d1f1e; 
}