*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{

    max-width: 1600px;
    height: 92px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    
}

nav .menu{
    max-width: 365px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin: 16px 24px;
   
    
}

nav .logo img {

    width: ;
}

nav .menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin: 16px 24px;
    justify-content: space-between;
    align-items: center;
    
    
}

.btn{
    background-color: #30b868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 12.5px 15px;
    border-radius: 4px;
}

nav .menu a:hover{
    color:#30b868
}

.btn:hover {
    background-color: #259954; /
}