*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.logo{
    margin-top: 18px;
    margin-bottom: 16px;
}

nav{

    width: 100%;
    max-height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

nav .menu{
   
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
       
}


nav .menu a{
    
    color: #000000;
    text-decoration: none;    
    
}

.btn{
    background-color: #30b868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 12.5px 15px;
    border-radius: 4px;
}

nav .menu a:hover{
    color:#30b868
}

.btn:hover {
    background-color: #259954; 
}